@font-face {
  font-family: headingText;
  src: url('../mcfonts/KaushanScript-Regular.ttf');
}

/*
 there are many other variants for this font
 to be found in ~/downloads/Kaushan_Script,Noto_Sans/Noto_Sans/static
*/
@font-face {
  font-family: regularText;
  src: url('../mcfonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: condensedText;
  src: url('../mcfonts/NotoSans_Condensed-Regular.ttf');
}

@font-face {
  font-family: lightText;
  src: url('../mcfonts/NotoSans-Light.ttf');
}

@font-face {
  font-family: blackText;
  src: url('../mcfonts/NotoSans-Black.ttf');
}

svg {
  fill: green !important;
}

.mcsvg svg path {
  fill: red;
}

:root {
  --xbg1: #e4e4e4;
  --xbg2: #3f8f4f;
  --xbg3: #e1bee7;
  --xbg4: #bbdefb;
  --xbg5: #dcedc8;
  --xbg6: #ffecb3;
  /* CSS HEX */
  --raisin-black: #212227;
  --dim-gray: #637074;
  --cool-gray: #8693ab;
  --powder-blue: #aab9cf;
  --columbia-blue: #bdd4e7;
  --cool-white: #f1f2f7;

  --bg1: var(--raisin-black);
  --bg2: var(--dim-gray);
  --bg3: var(--cool-gray);
  --bg4: var(--powder-blue);
  --bg5: var(--columbia-blue);
  --bg6: var(--cool-white);

  --text6: var(--raisin-black);
  --text5: var(--dim-gray);
  --text4: var(--cool-gray);
  --text3: var(--powder-blue);
  --text2: var(--columbia-blue);
  --text1: var(--cool-white);

  --fontRegular: regularText, Arial, sans-serif;
  --fontCondensed: condensedText, Arial, sans-serif;
  --fontHeading: headingText, Arial, sans-serif;
  --fontLight: lightText, Arial, sans-serif;
  --fontBlack: blackText, Arial, sans-serif;

  --play-button-svg-cool-white: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23f1f2f7' stroke-width='1.5'/%3E%3Cpath d='M15.4137 10.941C16.1954 11.4026 16.1954 12.5974 15.4137 13.059L10.6935 15.8458C9.93371 16.2944 9 15.7105 9 14.7868L9 9.21316C9 8.28947 9.93371 7.70561 10.6935 8.15419L15.4137 10.941Z' stroke='%23f1f2f7' stroke-width='1.5'/%3E%3C/svg%3E");
  --pause-button-svg-cool-white: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23f1f2f7' stroke-width='1.5'/%3E%3Cpath id='Vector' d='M14 9V15M10 9V15M12' stroke='%23f1f2f7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  --play-button-svg-raisin-black: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23212227' stroke-width='1.5'/%3E%3Cpath d='M15.4137 10.941C16.1954 11.4026 16.1954 12.5974 15.4137 13.059L10.6935 15.8458C9.93371 16.2944 9 15.7105 9 14.7868L9 9.21316C9 8.28947 9.93371 7.70561 10.6935 8.15419L15.4137 10.941Z' stroke='%23212227' stroke-width='1.5'/%3E%3C/svg%3E");
  --pause-button-svg-raisin-black: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23212227' stroke-width='1.5'/%3E%3Cpath id='Vector' d='M14 9V15M10 9V15M12' stroke='%23212227' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  --pause-filled-dark: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%231C274C' fill='white' stroke-width='1.5'/%3E%3Cpath id='Vector' d='M14 9V15M10 9V15M12' stroke='%231C274C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --play-filled-dark: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='%23ccccff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%231C274C' stroke-width='1.5'/%3E%3Cpath fill='%231C274C' d='M15.4137 10.941C16.1954 11.4026 16.1954 12.5974 15.4137 13.059L10.6935 15.8458C9.93371 16.2944 9 15.7105 9 14.7868L9 9.21316C9 8.28947 9.93371 7.70561 10.6935 8.15419L15.4137 10.941Z' stroke='%231C274C' stroke-width='1.5'/%3E%3C/svg%3E");
}




/*---- Layout ----*/
/* div
{
	padding: 0;
	margin: 0;
}

body
{
	padding: 0px 0px 0px 0px;
	margin: 0px 8px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
} */

.layout {
  margin: auto;
  padding: 15px;
  width: 640px;
  text-align: left;
}

.layout table {
  width: 620px;
}

td.masthead {
  padding: 0px 0px 8px 0px;
}

td.rightnav {
  width: 150px;
  padding: 0;
}

td.leftnav {
  padding: 0;
}

td.nuts {
  width: 120px;
}

td.gutter {
  width: 15px;
  padding: 0;
}

td.middle {
  padding: 0;
}

td.footer {
  padding: 15px 0px 0px 0px;
}

.footWrap {
  border: 0px solid black;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding: 2px;
}

.mastWrap {
  padding: 2px;
}

.leftWrap {
  padding: 0px;
  border: 1px solid;
}

.rightWrap {
  padding: 0px;
}

.midWrap {
  border: 1px solid black;
  background: white;
  padding: 5px;
  line-height: 1.15em;
}



.sidebar {
  font-size: 10px;
  padding: 4px;
  border: 1px solid;
  width: 12em;
  float: right;

  border: 1px solid black;
  color: white;
}


.leftImg {
  float: left;
  margin-right: 1.5em;
}

.rightImg {
  float: right;
  margin-left: 1.5em;
}

p.clr {
  clear: both;
  font-size: 1px;
  padding: 0;
  margin: 0;
}

.footWrap td {
  font-size: 10px;
}

.footWrap a {
  text-decoration: none;
}

td.composer {
  width: 25%;
  text-align: right;
  font-size: .9em;
  padding: 0;
}

td.songTitle {
  font-style: italic;
  font-size: .9em;
  padding: 0px 0px 0px 10px;
}

td.songCategory {
  font-weight: bold;
  font-size: 1.0em;
  border: 0px solid black;
  border-top-width: 1px;
}

.categoryDescription {
  font-size: .9em;
  font-weight: normal;
}

.songCategoryx a div {
  display: none;
}

.songCategoryx a:hover div {
  color: green;
  display: block;
}

a.catd {
  display: none;
}

a:hover .catd {
  color: green;
  display: block;
}

.catd {
  color: blue;
  display: none;
  position: absolute;
  background: #fff;
  top: 1.5em;
  left: 1.5em;
  width: 40em;
  font-size: 9px;
  padding: 4px;
  display: none;
  font-weight: normal;
  border: 1px solid black;
}


div.row {
  clear: both;
  padding-top: 4px;
}

div.row span.label {
  float: left;
  width: 30%;
  text-align: right;
}

div.row span.formw {
  float: right;
  width: 70%;
  text-align: left;
}

.formError {
  margin: 0;
  border: 1px solid;
  padding: 5px;
}

.formThankYou {
  margin: 0;
  border: 1px solid;
  padding: 5px;
}

div.continue {
  text-align: right;
}

div.continue a {
  text-decoration: none;
}


.floater {
  float: right;
  clear: right;
  height: 30px;
  padding: 0px;
  position: relative;
}

.lefter {
  float: left;
  clear: left;
  height: 20px;
  padding: 0px;
  position: relative;
  border: 0px solid;
  margin: 0 1em 0 0;
}



body {
  margin: 0;
  padding: 0;
  padding-top: 72px;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: var(--fontRegular);
}


h1,
h2,
h3,
h4,
.mc_heading {
  font-family: var(--fontHeading);
}

#menuToggle {
  display: block;
  position: fixed;
  top: 27px;
  right: 20px;

  z-index: 20;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: var(--bg5);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--bg2);
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 300px;
  margin: -62px 0 0 -248px;
  padding: 32px;
  padding-top: 100px;

  background: var(--bg5);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(105%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  color: var(--text5);
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked~ul {
  transform: none;
}


* {
  box-sizing: border-box;
  color: var(--text2);

}

body {
  background: var(--bg1);
  padding: 0;
  height: 100vh;
  margin: 0;
  /* font-family: var(--font1); */
  font-size: 100%;

}

/* .xpage-wrap {
  background: var(--cool-gray);
  height: calc(100vh - 10px);
  box-shadow: 0 0 3px rgba(black, 0.33);

  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 0px;

  >* {
    padding: 1rem;
    text-align: left;
  }

  @media (max-width: 600px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;

    >* {
      grid-column: 1 / -1 !important;
      grid-row: auto !important;
    }
  }
} */

.page-header {
  /* grid-column: 1 / -1; */
  background: var(--bg2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.page-sidebar {
  /* grid-column: 1 / 2; */
  /* grid-row: 2 / 4; */
  background: var(--bg1);
  text-align: center;
}

.page-nav {
  /* grid-column: 2 / 3; */
  /* background: var(--bg1); */
  text-align: right;
  display: none;
}

.page-main {
  /* grid-column: 2 / 3; */
  background: var(--bg1);
}

.page-footer {
  /* grid-column: 1 / -1; */
  background: var(--bg2);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

details p {
  text-transform: none;
  text-align: left;
}





.logo {
  position: absolute;
  left: 0;
  padding: 0.8rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.menu {
  padding: 0;
  margin: 1rem 0;
  position: absolute;
  right: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  padding: 0 0.8rem;
  transition: 250ms ease;
}

.menu__item:hover {
  color: var(--text1);
}

.menu__item>a {
  color: inherit;
  text-decoration: none;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress[value] {

  width: 50%;
  height: 12px;
  color: red;
  background: #ccf;
  display: block;
}


progress[value] {
  --color: #8888dd;
  /* the progress color */
  --background: transparent;
  /* the background color */
  --color2: #aaaaaa;
  /* the progress color */
  --background2: #cccccc;
  /* the background color */


  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 50%;
  max-width: 300px;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}


progress[value]#pp2 {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 50%;
  max-width: 300px;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}

progress[value]#pp2::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background2);
}

progress[value]#pp2::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color2);
}

progress[value]#pp2::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color2);
}





#pp_label {
  width: 50%;
  background: --bg5;
  text-align: center;
  margin: .5em 10px;
  max-width: 300px;
}

.pp_container {
  position: relative;
}

#pp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

#pp2 {
  z-index: 100;
}


.play_button {
  border: 0;
  background: white;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;

}

.play_button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.play_button:hover {
  border-color: transparent transparent transparent #404040;
}


.gv_icon_play {
  background-image: var(--play-button-svg-cool-white);
  background-size: cover;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
}

.gv_icon_play.gv_icon_pause {
  background-image: var(--pause-button-svg-cool-white);
  background-size: cover;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
}

.gv_icon_play_dark {
  background-image: var(--play-button-svg-raisin-black);
  background-size: cover;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
}

.gv_icon_play_dark.gv_icon_pause {
  background-image: var(--pause-button-svg-raisin-black);
  background-size: cover;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
}

.gv_icon_play_filled {
  background-image: var(--play-filled-dark);
  background-size: cover;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
}

.gv_icon_play_filled.gv_icon_pause {
  background-image: var(--pause-filled-dark);
  background-size: cover;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
}

.gv_iconv {
  height: 1.2em;
  width: 1.2em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

div.ii>img {
  width: 60px;
  height: 60px;
}

#play_label {
  grid-area: label
}

#pp_label {
  grid-area: numbers;
}

#play_master {
  grid-area: button;
}

#progress_top {
  grid-area: progress;
}

#player_box {
  display: grid;
  grid-template-areas:
    'button label label'
    'button progress numbers';
  grid-template-columns: 32px 200px;
  gap: 8px;
  background-color: var(--bg1);
  width: 100%;
  padding: 0;
  margin: 1em 0;
  align-items: center;
  padding: 8px;
  border: 1px solid var(--bg3);
  border-radius: 8px;
}

#player_box>div {
  text-align: left;
}

#player_box progress[value]#pp,
#player_box progress[value]#pp2 {
  width: 100%;
  margin: 0;
}

#player_box #pp_label {
  margin: 0;
  width: auto;
}

#player_box #play_master {
  width: 32px;
  height: 32px;
}

.listening_room {
  position: relative;
}

.listening_list {
  border-spacing: 0;
}

tr.playlist_playing {
  background-color: var(--bg2);
}


tr.playlist_playing>td:first-child,
tr.playlist_playing>th:first-child {
  border-radius: 8px 0 0 8px;
}

tr.playlist_playing>td:last-child,
tr.playlist_playing>th:last-child {
  border-radius: 0 8px 8px 0;
}

.mc_logo {
  background-image: url(../mcimages/duo_sketch_dim_gray_2.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-origin: padding-box;
  background-size: 66px 72px;
  width: 300px;
  width: fit-content;
  height: 72px;
  padding-left: 54px;
  margin-left: 4px;
}

.mc_logo img {
  display: inline-block;
  width: 62px;
  height: 72px;
}

.mc_logo>div {
  display: inline-block;
  line-height: 72px;
  height: 72px;
  font-size: 24px;
  font-family: var(--fontHeading);
  font-weight: 800;
  color: var(--text2);
  /* text-shadow: 1px 1px 1px var(--bg1); */
}


.side-show>img {
  max-width: 90%;
}

.sample {
  margin-left: 2em;
  font-size: smaller;
}

/* holy grail grid layout stuff */

body {
  margin: 0;
  padding: 0;
  padding-top: 72px;
  font-size: 100%;
}


/* grid container */
.holy-grail-grid {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  'main-content'
    'footer';
  min-height: 100vh;
  min-height: 100svh;

}



/* general column padding */
.holy-grail-grid>* {
  padding: 1rem;
}

/* assign columns to grid areas */
.holy-grail-grid>.header {
  grid-area: header;
  padding: 0;
  /* background: #f97171; */
}

.holy-grail-grid>.main-content {
  grid-area: main-content;
  /* background: #fff; */
}

.holy-grail-grid>.left-sidebar {
  grid-area: left-sidebar;
  text-align: center;
  /* background: #f5d55f; */
}

.holy-grail-grid>.right-sidebar {
  grid-area: right-sidebar;
  background: #c5ed77;
}

.holy-grail-grid>.footer {
  grid-area: footer;
  /* background: #72c2f1; */
}

/* Here's the inner container nested grid */

#container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  'mc_bumper' 'mc_primary' 'mc_sidebar';

}

.mc-sidebar {
  grid-area: mc_sidebar;
  text-align: center;  
}
.mc-sidebar > h3 {
  display: none;
}
.mc-primary {
  grid-area: mc_primary;
}
.mc-bumper {
  grid-area: mc_bumper;
  padding-top: 1em;
  text-align: center;
}



/* tablet breakpoint */
@media (min-width:768px) {
  .holy-grail-grid {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main-content'
      'footer';
  }

  #container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'mc_sidebar mc_primary' 'mc_sidebar mc_bumper';
  }
  
  .mc-sidebar > h3 {
    display: block;
  }
  .mc-bumper > h3 {
    display: none;
  }
  .mc-bumper {
    text-align: left;
  }
  

}

/* desktop breakpoint */
@media (min-width:1024px) {
  .holy-grail-grid {
    grid-template-columns: auto;
    grid-gap: 12px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main-content'
      'footer';
  }

  #container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'mc_sidebar mc_primary' 'mc_sidebar mc_bumper';
  }
  
  .mc-sidebar > h3 {
    display: block;
  }
  .mc-bumper > h3 {
    display: none;
  }
  .mc-bumper {
    text-align: left;
  }
  


  .page-nav {
    display: block;
  }

  nav.hamburger {
    display: none;
  }

  .page-header {
    position: static;
    grid-template-columns: 1fr 2fr;
  }

  body {
    padding-top: 0;
  }

  .mc_logo>div {
    font-size: 32px;
  }


}

/* Misc creature pics */
.square_icon,
.flute_frog_1,
.flute_frog_2,
.flute_lady_1,
.flute_lady_2,
.guitar_frog_1,
.guitar_frog_2,
.guitar_frog_3,
.guitar_frog_3a {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  display: inline-block;
}

.tiny_frog,
.tiny_square {
  height: 40px;
}

.xtiny_frog,
.xtiny_square {
  height: 28px;
}

.tiny_square>img,
.small_square>img,
.medium_square>img,
.large_square>img,
.xlarge_square>img {
  height: 100%;
}

.small_frog,
.small_square {
  height: 80px;
}

.medium_frog,
.medium_square {
  height: 120px;
}

.large_frog,
.large_square {
  height: 160px;
}

.xlarge_frog,
.xlarge_square {
  height: 200px;
}

.square_icon {
  aspect-ratio: 1/1;
}

/** flute-svgrepo-com-keys-columbia-blue **/

.flute_icon2_raisin_black {
  background-image: url('../mcimages/flute-svgrepo-com-keys-raisin-black.png');
}

.flute_icon2_dim_gray {
  background-image: url('../mcimages/flute-svgrepo-com-keys-dim-gray.png');
}

.flute_icon2_cool_gray {
  background-image: url('../mcimages/flute-svgrepo-com-keys-cool-gray.png');
}

.flute_icon2_powder_blue {
  background-image: url('../mcimages/flute-svgrepo-com-keys-powder-blue.png');
}

.flute_icon2_columbia_blue {
  background-image: url('../mcimages/flute-svgrepo-com-keys-columbia-blue.png');
}

.flute_icon2_cool_white {
  background-image: url('../mcimages/flute-svgrepo-com-keys-cool-white.png');
}

.guitar_icon2_raisin_black {
  background-image: url('../mcimages/guitar2-raisin-black.png');
}

.guitar_icon2_dim_gray {
  background-image: url('../mcimages/guitar2-dim-gray.png');
}

.guitar_icon2_cool_gray {
  background-image: url('../mcimages/guitar2-cool-gray.png');
}

.guitar_icon2_powder_blue {
  background-image: url('../mcimages/guitar2-powder-blue.png');
}

.guitar_icon2_columbia_blue {
  background-image: url('../mcimages/guitar2-columbia-blue.png');
}

.guitar_icon2_cool_white {
  background-image: url('../mcimages/guitar2-cool-white.png');
}


.flute_icon_raisin_black {
  background-image: url('../mcimages/transverse-flute-svgrepo-com-raisin-black.png');
}

.guitar_icon_raisin_black {
  background-image: url('../mcimages/guitar-svgrepo-com-raisin-black.png');
  transform: rotate(-90deg);
}

.flute_icon_dim_gray {
  background-image: url('../mcimages/transverse-flute-svgrepo-com-dim-gray.png');
}

.guitar_icon_dim_gray {
  background-image: url('../mcimages/guitar-svgrepo-com-dim-gray.png');
  transform: rotate(-90deg);
}

.flute_icon_cool_gray {
  background-image: url('../mcimages/transverse-flute-svgrepo-com-cool-gray.png');
}

.guitar_icon_cool_gray {
  background-image: url('../mcimages/guitar-svgrepo-com-cool-gray.png');
  transform: rotate(-90deg);
}

.flute_icon_powder_blue {
  background-image: url('../mcimages/transverse-flute-svgrepo-com-powder-blue.png');
}

.guitar_icon_powder_blue {
  background-image: url('../mcimages/guitar-svgrepo-com-powder-blue.png');
  transform: rotate(-90deg);
}

.flute_icon_columbia_blue {
  background-image: url('../mcimages/transverse-flute-svgrepo-com-columbia-blue.png');
}

.guitar_icon_columbia_blue {
  background-image: url('../mcimages/guitar-svgrepo-com-columbia-blue.png');
  transform: rotate(-90deg);
}

.flute_icon_cool_white {
  background-image: url('../mcimages/transverse-flute-svgrepo-com-cool-white.png');
}

.guitar_icon_cool_white {
  background-image: url('../mcimages/guitar-svgrepo-com-cool-white.png');
  transform: rotate(-90deg);
}


.flute_player_raisin_black {
  background-image: url('../mcimages/flute-player2-raisin-black.png');
}

.flute_player_dim_gray {
  background-image: url('../mcimages/flute-player2-dim-gray.png');
}

.flute_player_cool_gray {
  background-image: url('../mcimages/flute-player2-cool-gray.png');
}

.flute_player_powder_blue {
  background-image: url('../mcimages/flute-player2-powder-blue.png');
}

.flute_player_columbia_blue {
  background-image: url('../mcimages/flute-player2-columbia-blue.png');
}

.flute_player_cool_white {
  background-image: url('../mcimages/flute-player2-cool-white.png');
}

.guitar_player_raisin_black {
  background-image: url('../mcimages/guitar-player-1-raisin-black.png');
}

.guitar_player_dim_gray {
  background-image: url('../mcimages/guitar-player-1-dim-gray.png');
}

.guitar_player_cool_gray {
  background-image: url('../mcimages/guitar-player-1-cool-gray.png');
}

.guitar_player_powder_blue {
  background-image: url('../mcimages/guitar-player-1-powder-blue.png');
}

.guitar_player_columbia_blue {
  background-image: url('../mcimages/guitar-player-1-columbia-blue.png');
}

.guitar_player_cool_white {
  background-image: url('../mcimages/guitar-player-1-cool-white.png');
}

.eighth_notes_cool_white {
  background-image: url('../mcimages/eighth-notes-cool-white.png');
}
.eighth_notes_columbia_blue {
  background-image: url('../mcimages/eighth-notes-columbia-blue.png');
}
.eighth_notes_powder_blue {
  background-image: url('../mcimages/eighth-notes-powder-blue.png');
}
.eighth_notes_cool_gray {
  background-image: url('../mcimages/eighth-notes-cool-gray.png');
}
.eighth_notes_dim_gray {
  background-image: url('../mcimages/eighth-notes-dim-gray.png');
}
.eighth_notes_cool_raisin_black {
  background-image: url('../mcimages/eighth-notes-raisin-black.png');
}

.notes_cool_white {
  background-image: url('../mcimages/notes-cool-white.png');
}
.notes_columbia_blue {
  background-image: url('../mcimages/notes-columbia-blue.png');
}
.notes_powder_blue {
  background-image: url('../mcimages/notes-powder-blue.png');
}
.notes_cool_gray {
  background-image: url('../mcimages/notes-cool-gray.png');
}
.notes_dim_gray {
  background-image: url('../mcimages/notes-dim-gray.png');
}
.notes_cool_raisin_black {
  background-image: url('../mcimages/notes-raisin-black.png');
}

.staff_cool_white {
  background-image: url('../mcimages/staff-cool-white.png');
}
.staff_columbia_blue {
  background-image: url('../mcimages/staff-columbia-blue.png');
}
.staff_powder_blue {
  background-image: url('../mcimages/staff-powder-blue.png');
}
.staff_cool_gray {
  background-image: url('../mcimages/staff-cool-gray.png');
}
.staff_dim_gray {
  background-image: url('../mcimages/staff-dim-gray.png');
}
.staff_cool_raisin_black {
  background-image: url('../mcimages/staff-raisin-black.png');
}


.img_flipped {
  transform: rotate(180deg);
}



.flute_frog_1 {
  background-image: url('../mcimages/flute_frog_1.png');
  aspect-ratio: 150 / 177;
}

.guitar_frog_1 {
  background-image: url('../mcimages/guitar_frog_1.png');
  aspect-ratio: 150 / 221;
}

.guitar_frog_3 {
  background-image: url('../mcimages/guitar_frog_3.png');
  aspect-ratio: 150 / 312;
}

.guitar_frog_3a {
  background-image: url('../mcimages/guitar_frog_3a.png');
  aspect-ratio: 150 / 282;
}

.flute_frog_2 {
  background-image: url('../mcimages/flute_frog_2.png');
  aspect-ratio: 150 / 180;
}

.guitar_frog_2 {
  background-image: url('../mcimages/guitar_frog_2.png');
  aspect-ratio: 150 / 230;
}

.flute_lady_1 {
  background-image: url('../mcimages/flute_lady_1.png');
  aspect-ratio: 114 / 300;
}

.flute_lady_2 {
  background-image: url('../mcimages/flute_lady_2.png');
  aspect-ratio: 150 / 373;
}


.mask1 {
  -webkit-mask-image: url(../mcimages/mask1.png);
  mask-image: url(../mcimages/mask1.png);
}

.mask2 {
  -webkit-mask-image: url(../mcimages/.mask2.png);
  mask-image: url(../mcimages/mask2.png);
}

.mask3 {
  -webkit-mask-image: url(../mcimages/mask3.png);
  mask-image: url(../mcimages/mask3.png);
}

.mask4 {
  -webkit-mask-image: url(../mcimages/mask4.png);
  mask-image: url(../mcimages/mask4.png);
}

.mask5 {
  -webkit-mask-image: url(../mcimages/mask5.png);
  mask-image: url(../mcimages/mask5.png);
}

.mask6 {
  -webkit-mask-image: url(../mcimages/mask6.png);
  mask-image: url(../mcimages/mask6.png);
}

.mask7 {
  -webkit-mask-image: url(../mcimages/mask7.png);
  mask-image: url(../mcimages/mask7.png);
}

.mask7a {
  -webkit-mask-image: url(../mcimages/mask7a.png);
  mask-image: url(../mcimages/.mask7a.png);
}
.mask8 {
  -webkit-mask-image: url(../mcimages/mask8.png);
  mask-image: url(../mcimages/mask8.png);
}
.mask9 {
  -webkit-mask-image: url(../mcimages/mask9.png);
  mask-image: url(../mcimages/mask9.png);
}

.mcmask {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  width: 300px;
  display: inline-block;
  /* this one width controls both image and mask to cover */
}
.mcmask0 {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  /* width: 300px; */
  display: inline-block;
  /* this one width controls both image and mask to cover */
}
.height_tiny {
  height: 40px;
}
.height_large {
  height: 300px;
}
.width_tiny {
  width: 40px;
  height: auto;
}
.width_small {
  width: 120px;
  height: auto;
}
.width_medium {
  width: 200px;
  height: auto;
}
.width_10_pct {
  width: 10%;
  height: auto;
}
.width_20_pct {
  width: 20%;
  height: auto;
}
.width_30_pct {
  width: 30%;
  height: auto;
}
.width_40_pct {
  width: 40%;
  height: auto;
}
.width_50_pct {
  width: 50%;
  height: auto;
}
.width_60_pct {
  width: 60%;
  height: auto;
}
.width_70_pct {
  width: 70%;
  height: auto;
}
.width_80_pct {
  width: 80%;
  height: auto;
}
.width_80_pct_max_300 {
  width: 80%;
  height: auto;
  max-width: 300px;
}
.width_90_pct {
  width: 90%;
  height: auto;
}
.width_100_pct {
  width: 100%;
  height: auto;
}


.mcmask>img {
  width: 100%;
}

.mailForm {
  margin: 16px 0;
  padding: 16px;
  background-color: var(--bg2);
  display: grid;
  grid-gap: 8px;
  line-height: 1.3;
  border-radius: 8px;
}

.mailForm label,
.mailForm input[type="submit"] {
  margin-block-start: 16px;
}

.mailForm textarea,
.mailform input,
.mailForm select,
.mailForm select option,
.mailForm input[type="text"],
.mailForm input[type="submit"] {
  /* margin: 0; */
  border: 1px solid;
  padding: 5px;
  font-size: 14px;
  color: var(--text6);
  background-color: var(--bg6);
}
.mailForm textarea {
  resize: vertical;
}

.mailForm input[type="submit"] {
  border-radius: 8px;
  border-color: var(--bg1);
  background-color: var(--bg4);
  color: var(--text6);
  padding: 8px 16px;
  min-width: 100px;
  font-weight: 700;
  margin-block-end: 16px;
}

.mailForm input[type="submit"]:hover {
  border-color: var(--bg5);
  color: var(--text1);
}

@media (min-width:768px) {

  .mailForm {
    background-color: var(--bg2);
    display: grid;
    grid-template-columns: auto 2fr;
    grid-gap: 8px;
    line-height: 1.3;
    padding: 24px;
    align-items: end;
  }
  .mailForm label {
    text-align: right;
  }
  .mailForm input[type="submit"]  {
    grid-column: 2;
    margin-block-end: auto;
  }


}

/* 
These work with either a width or height definition to render the image.
Can be combined with mask images
*/
.img_duo_photo {
  background-image: url('../mcimages/duo_photo.jpg');
  aspect-ratio: 400/543;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_standing_ecc {
  background-image: url('../mcimages/duo-standing-wall-ecc-1.jpg');
  aspect-ratio: 400/600;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_wide_2 {
  background-image: url('../mcimages/duo_wide_2.jpg');
  aspect-ratio: 600/118;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_wide {
  background-image: url('../mcimages/duo_wide.jpg');
  aspect-ratio: 600/132;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}



.img_red_cedar_house_1 {
  background-image: url('../mcimages/red-cedar-house-concert-1.jpg');
  aspect-ratio: 600/406;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_red_cedar_house_2 {
  background-image: url('../mcimages/red-cedar-house-concert-2.jpg');
  aspect-ratio: 600/398;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_red_cedar_outside {
  background-image: url('../mcimages/red-cedar-outside.jpg');
  aspect-ratio: 600/392;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_vig_4 {
  background-image: url('../mcimages/mark-vig-4.jpg');
  aspect-ratio: 450/315;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_with_guitar_goofy {
  background-image: url('../mcimages/mark-with-guitar-goofy.jpg');
  aspect-ratio: 400/600;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_stool {
  background-image: url('../mcimages/mark-stool.jpg');
  aspect-ratio: 350/525;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_crossed_leg_standing {
  background-image: url('../mcimages/mark-crossed-leg-standing.jpg');
  aspect-ratio: 400/600;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_epiphone {
  background-image: url('../mcimages/mark_epiphone.jpg');
  aspect-ratio: 300/450;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_with_les_paul {
  background-image: url('../mcimages/mark_with_les_paul.jpg');
  aspect-ratio: 400/364;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_tux {
  background-image: url('../mcimages/mark-tux-higher-res.jpg');
  aspect-ratio: 400/527;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.img_sue_bass {
  background-image: url('../mcimages/sue_bass.jpg');
  aspect-ratio: 300/450;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_sue_house_of_blues {
  background-image: url('../mcimages/IMG_0806.JPG');
  aspect-ratio: 960/960;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_mark_house_of_blues {
  background-image: url('../mcimages/IMG_0807.JPG');
  aspect-ratio: 960/686;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_hug_ecc_1 {
  background-image: url('../mcimages/duo-hug-ecc-1.jpg');
  aspect-ratio: 400/533;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_sue_vig_1 {
  background-image: url('../mcimages/sue-vig-1.jpg');
  aspect-ratio: 350/525;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_sue_with_flute {
  background-image: url('../mcimages/sue_with_flute.jpg');
  aspect-ratio: 300/450;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_raisin_black {
  background-image: url('../mcimages/duo_sketch_raisin_black.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_raisin_black {
  background-image: url('../mcimages/duo_sketch_raisin_black.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_dim_gray {
  background-image: url('../mcimages/duo_sketch_dim_gray.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_dim_gray_2 {
  background-image: url('../mcimages/duo_sketch_dim_gray_2.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_powder_blue {
  background-image: url('../mcimages/duo_sketch_powder_blue.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_cool_gray {
  background-image: url('../mcimages/duo_sketch_cool_gray.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_cool_white {
  background-image: url('../mcimages/duo_sketch_cool_white.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_columbia_blue {
  background-image: url('../mcimages/duo_sketch_columbia_blue.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_duo_sketch_columbia_blue_2 {
  background-image: url('../mcimages/duo_sketch_columbia_blue_2.png');
  aspect-ratio: 450/520;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.img_guitar_neck_hands_neon_glow { /* 600x69 */
  background-image: url('../mcimages/guitar-neck-hands-neon-glow.jpg');
  aspect-ratio: 600/69;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_guitar_neck_hands_grey { /* 600x69 */
  background-image: url('../mcimages/guitar-neck-hands-grey.jpg');
  aspect-ratio: 600/69;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_guitar_neck_hands { /* 600x69 */
  background-image: url('../mcimages/guitar-neck-hands.jpg');
  aspect-ratio: 600/69;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.img_guitar_neck_fingers_conte_crayon { /* 600x152 */
  background-image: url('../mcimages/guitar-neck-fingers-conte-crayon.jpg');
  aspect-ratio: 600/152;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_guitar_neck_fingers_edge_glow { /* 600x152 */
  background-image: url('../mcimages/guitar-neck-fingers-edge-glow.jpg');
  aspect-ratio: 600/152;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_guitar_neck_fingers { /* 600x152 */
  background-image: url('../mcimages/guitar-neck-fingers.jpg');
  aspect-ratio: 600/152;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.img_flute_lips_hands {
  background-image: url('../mcimages/flute-lips-hands-2.jpg');
  aspect-ratio: 600/75;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_flute_lips_hands_charcoal {
  background-image: url('../mcimages/flute-lips-hands-2-charcoal.jpg');
  aspect-ratio: 600/75;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_flute_lips_hands_conte_crayon_inverse { 
  background-image: url('../mcimages/flute-lips-hands-2-conte-crayon-inverse.jpg');
  aspect-ratio: 600/75;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_flute_lips_hands_neon_glow { 
  background-image: url('../mcimages/flute-lips-hands-2-neon-glow.jpg');
  aspect-ratio: 600/75;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.img_flute_fingers { 
  background-image: url('../mcimages/flute_fingers_1.jpg');
  aspect-ratio: 400/141;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_flute_fingers_glowing_edges { 
  background-image: url('../mcimages/flute_fingers_1_glowing_edges.jpg');
  aspect-ratio: 400/141;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_flute_fingers_note_paper { 
  background-image: url('../mcimages/flute_fingers_1_note_paper.jpg');
  aspect-ratio: 400/141;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.img_flute_fingers_photocopy { 
  background-image: url('../mcimages/flute_fingers_1_photocopy.jpg');
  aspect-ratio: 400/141;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.img_duo_formal {
  background-image: url('../mcimages/duo-formal-posed.jpg');
  aspect-ratio: 400/600;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.ximg_duo_formal {
  background-image: url('../mcimages/duo-formal-posed.jpg');
  aspect-ratio: 400/600;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.xximg_duo_formal {
  background-image: url('../mcimages/duo-formal-posed.jpg');
  aspect-ratio: 400/600;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.xxximg_duo_formal {
  background-image: url('../mcimages/duo-formal-posed.jpg');
  aspect-ratio: 400/600;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}


/*
photo info

duo_photo.jpg 400x543
red-cedar-house-concert-1.jpg 600x406
red-cedar-house-concert-2.jpg 600x398
red-cedar-outside.jpg 600x392
mark-vig-4.jpg 450x315
mark-with-guitar-goofy.jpg 400x600
mark-stool.jpg 350x525
mark-crossed-leg-standing.jpg 400x600
IMG_0806.JPG (Sue House of Blues) 960x960
IMG_0807.JPG (Mark House of Blues) 960x686
duo-hug-ecc-1.jpg 400x533
sue-vig-1.jpg 350x525
images/duo_sketch_raisin_black.png 450x520


*/

